@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

h1 {
  text-align: center;
  color: #f2f2f2;
  background-color: #0d0d0d;
  background-size: cover;
  padding: 10px 0 10px 0;
}

.h_r {
  font-family: "Bungee";
  font-size: 70px;
  height: fit-content;
  line-height: 1;
  margin: 0;
}

.h_c {
  font-family: "Bungee";
  font-size: 35px;
  height: fit-content;
  line-height: 1;
}

.h_year {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 10px;
  padding: 10px 0 0 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: #f2f2f2;
  background-color: #0d0d0d;
  background-size: cover;
  padding: 1px 0 1px 0;
}

.header_sub {
  font-family: "Poppins";
  font-weight: bold;
  padding: 0;
}

p {
  margin: 0 5vw 10px 5vw;
}

blockquote {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

.quote {
  margin: 0;
  margin: 0 9vw 0 9vw;
}

q {
  font-style: italic;
}

figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.caption {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 8px;
  margin: 0 5vw 0 5vw;
}

.caption_author {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 8px;
  text-align: right;
  margin: 0 9vw 10px 9vw;
}

.poster {
  width: 100%;
}

.image_portrait {
  width: 100vw;
}

hr {
  border: none;
}
hr::before {
  content: "***";
  display: block;
  text-align: center;
  padding: 15px 0 5px 0;
}
